<div class="contact-container">
    <div class="contact-content">
        <div class="text-container">
            <div class="text-container-title">
                Let's Work Together <i class="fas fa-arrow-right arrow"></i>
            </div>
            <p class="text-container-paragraph">
                I'm full-stack developer. Angular.js & ASP.NET. I made this 
                site all by myself. design, code and etc. If you are interested
                to communicate with me contact me.
                <br><br>
                Call me:
                <br>
                571-12-77-01
                <br><br>
                Follow me:
                <br>
            </p>
            <div class="socials">
                <a 
                href="https://www.instagram.com/temoelizbarashvili_/"
                target="_blank"
                ><i class="fab fa-instagram"></i></a>
                <a 
                href="https://www.facebook.com/profile.php?id=100090912339377"
                target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a
                href="www.linkedin.com/in/temur-elizbarashvili-365474273"
                target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="form-container">
            <form>
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Company URL">
                <textarea name="description" 
                placeholder="Description" cols="30" rows="10"></textarea>
                <button class="form-button" type="button">Get In Touch</button>
            </form>
        </div>
    </div>
</div>
