    <div class="footer-container">
        <div class="footer-flex-containers">
            <div class="small logo-contact">
                <div class="footer-logo">
                    <img src="../assets/images/JIGO_BET.png" alt="z">    
                </div>
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Tbilisi, Varketili 3
                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                    temoelizbarashvili23@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone-square"></i>
                    571-12-77-01
                </p>
                <p>
                    Jigo Bet The Best Bet
                </p>
            </div>
            <div class="pages">
                <p class="footer-title">EXPLORE</p>
                <ul>
                    <li>
                        <a [routerLink]="['']">HOME</a>
                    </li>
                    <li>
                        <a [routerLink]="['/games']">GAMES</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact-us']">CONTACT</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about-us']">ABOUT</a>
                    </li>
                </ul>
            </div>
            <div class="small socials">
                <p class="footer-title">
                    SOCIALS
                </p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/temur-elizbarashvili-365474273/"
                        target="_blank">
                            <i class="fab fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100090912339377"
                        target="_blank">
                            <i class="fab fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/temoelizbarashvili_/"
                        target="_blank">
                            <i class="fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        target="_blank">
                            <i class="fab fa-twitter-square"></i>
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <P class="copyright-text">
                2023 © All All rights reserved. made by: Temo ELizbarashvili
            </P>
        </div>
    </div>