<app-win *ngIf="hasWinned"></app-win>
<div class="game-container">
    <div class="go-back" >
        <i class="fas fa-long-arrow-alt-left" [routerLink]="['/games']"> GO BACK  </i>
        <div class="user-controls">
            <i class="fas fa-volume-mute setting"
             *ngIf="isMuted"
             (click)="onMute()"></i>
             <i class="fas fa-volume-up setting"
             *ngIf="!isMuted"
             (click)="onMute()"></i>
            <i class="fas fa-cog setting" (click)="isPopUpOpen = !isPopUpOpen"></i>
        </div>
    </div>
    <div class="pop-up" *ngIf="isPopUpOpen">
        <div class="pop-up-exit-container">
            <i class="fas fa-times pop-up-title exit"
            (click)="isPopUpOpen=false"></i>
        </div>
        <div class="pop-up-settings-container">
            <div class="pop-up-title-container">
                <p class="pop-up-title">
                    DICE GAME
                </p>
            </div>
            <div class="pop-up-settings-info">
                <p>
                <strong>Game Introduction</strong>
                    <br>
                    Welcome to the Dice Game! Are you feeling lucky? This game is all about rolling the dice and trying to win big. Here's how to play:
                    <br>
                    
                <strong>Objective:</strong>
                    <br>
                    Your goal is to roll a sum of 11 or 12, which can be achieved with dice combinations like 5-6 or 6-6.
                    <br>
                    
                <strong>Points</strong>
                    <br>
                    One roll costs 10 point, but if you win you recive 100 Point.
                    <br>
                    <strong>Step 6: Keep Playing and Have Fun!</strong> 
                    <br>
                    
                    That's it! You now know how to play the game. Remember,
                    it's all about luck, so keep rolling, enjoy the thrill, 
                    and hopefully, you'll hit those winning combinations. 
                    Have a blast and good luck! 🍀🎰</p>
            </div>
            <div class="pop-up-settings-card">
                <img src="../../../assets/images/roll-dice/5-6.png" alt="slots">
                <div class="pop-up-settings-card-info">
                    <div class="pop-up-title-container">
                        <p class="pop-up-title">
                            combination of 5-6
                        </p>
                    </div>
                    <p>
                     In order to win you have to roll combination of 5-6 (11 in sum) and you will recive +100 point
                    </p>
                </div>
            </div>
            <div class="pop-up-settings-card">
              <img src="../../../assets/images/roll-dice/6-6.png" alt="slots">
              <div class="pop-up-settings-card-info">
                  <div class="pop-up-title-container">
                      <p class="pop-up-title">
                        pair of 6
                      </p>
                  </div>
                  <p>
                   The second win condition is rolling pair of 6 (12 in sum) and you will recive +100 point
                  </p>
              </div>
          </div>
        </div>
    </div>

    <div class="game">
        <div class="container">
          <div id='dice1' class="dice dice-one">
            <div id="dice-one-side-one" class='side one'>
              <div class="dot one-1"></div>
            </div>
            <div id="dice-one-side-two" class='side two'>
              <div class="dot two-1"></div>
              <div class="dot two-2"></div>
            </div>
            <div id="dice-one-side-three" class='side three'>
              <div class="dot three-1"></div>
              <div class="dot three-2"></div>
              <div class="dot three-3"></div>
            </div>
            <div id="dice-one-side-four" class='side four'>
              <div class="dot four-1"></div>
              <div class="dot four-2"></div>
              <div class="dot four-3"></div>
              <div class="dot four-4"></div>
            </div>
            <div id="dice-one-side-five" class='side five'>
              <div class="dot five-1"></div>
              <div class="dot five-2"></div>
              <div class="dot five-3"></div>
              <div class="dot five-4"></div>
              <div class="dot five-5"></div>
            </div>
            <div id="dice-one-side-six" class='side six'>
              <div class="dot six-1"></div>
              <div class="dot six-2"></div>
              <div class="dot six-3"></div>
              <div class="dot six-4"></div>
              <div class="dot six-5"></div>
              <div class="dot six-6"></div>
            </div>
          </div>
       </div>
        <div class="container">
          <div id='dice2' class="dice dice-two">
            <div id="dice-two-side-one" class='side one'>
              <div class="dot one-1"></div>
            </div>
            <div id="dice-two-side-two" class='side two'>
              <div class="dot two-1"></div>
              <div class="dot two-2"></div>
            </div>
            <div id="dice-two-side-three" class='side three'>
              <div class="dot three-1"></div>
              <div class="dot three-2"></div>
              <div class="dot three-3"></div>
            </div>
            <div id="dice-two-side-four" class='side four'>
              <div class="dot four-1"></div>
              <div class="dot four-2"></div>
              <div class="dot four-3"></div>
              <div class="dot four-4"></div>
            </div>
            <div id="dice-two-side-five" class='side five'>
              <div class="dot five-1"></div>
              <div class="dot five-2"></div>
              <div class="dot five-3"></div>
              <div class="dot five-4"></div>
              <div class="dot five-5"></div>
            </div>
            <div id="dice-two-side-six" class='side six'>
              <div class="dot six-1"></div>
              <div class="dot six-2"></div>
              <div class="dot six-3"></div>
              <div class="dot six-4"></div>
              <div class="dot six-5"></div>
              <div class="dot six-6"></div>
            </div>
          </div> 
       </div>
       <div id='roll' class='roll-button' (click)="rollDice()"><button [disabled]="isRolling">Roll dice!</button></div>
    </div> 

    <div class="game-display">
      <div class="win-display">
        <p class="win-text" *ngIf="hasWinned">YOU WIN!</p>
      </div>
      <div class="point-display">
        <p class="point-text">Point: 
          <span class="point">{{ balance }}</span>
          <span class="point" *ngIf="hasWinned">+ 100</span>
        </p>
      </div>
    </div>

    <audio id="roll-dice" src="../../../assets/sounds/dice.mp3" muted="true" [loop]="false"  type="audio/mp3" [volume]="0.5"></audio>
    <audio id="game-win" src="../../../assets/sounds/dice-game-win.wav" muted="true" [loop]="false"  type="audio/mp3" [volume]="0.5"></audio>


</div>