
<div class="home-container">
    <div class="introduce-container">
        <video autoplay muted loop>
            <source src="/../assets/video/Casino Background.mp4" type="video/mp4" />
        </video>
        <div class="introduce-container-text">
        <h2 class="neon-text">
            <span class="win">IT IS</span>
            <span class="jackpot">Your Lucky Day</span>
        </h2>
        
        <button class="neon-button" [routerLink]="['/games']">PLAY NOW</button>
        </div>
    </div>
    <div class="home-carousel">
        <app-carousel [images]="images"></app-carousel>
    </div>
</div>
<div class="games-container" [routerLink]="['/cocoa-rush']">
    <div class="game game-1">
        <img 
        src="../../../assets/images/games/cocoa-rush.png" alt="slots">    
        <p class="article-title">Cocoa Rush</p>
    </div>
    <div class="game game-2" [routerLink]="['/dice-game']">
        <img 
        src="../../../assets/images/games/dice game.png" alt="slots">    
        <p class="article-title">Dice Gamel</p>
    </div>
    <div class="game game-3" [routerLink]="['/lucky-wheel']">
        <img 
        src="../../../assets/images/games/lucky wheel.png" alt="slots">    
        <p class="article-title">Lucky Wheel</p>
    </div>
</div>
