
<div class="home-container">
    <div class="introduce-container">
        <video autoplay muted loop>
            <source src="../../../assets/video/Casino Background.mp4" type="video/mp4" />
        </video>
        <div class="introduce-container-text">
        <h2 class="neon-text">
            <span class="win">IT IS</span>
            <span class="jackpot">Your Lucky Day</span>
        </h2>
        
        <button class="neon-button">PLAY NOW</button>
        </div>
    </div>
    <div class="home-carousel">
        <app-carousel></app-carousel>
    </div>
</div>
