<div class="game-container">
    <div class="go-back" >
        <i class="fas fa-long-arrow-alt-left" [routerLink]="['/games']"> GO BACK  </i>
        <div class="user-controls">
            <i class="fas fa-volume-mute setting"
             *ngIf="isMuted"
             (click)="onMute()"></i>
             <i class="fas fa-volume-up setting"
             *ngIf="!isMuted"
             (click)="onMute()"></i>
            <i class="fas fa-cog setting" (click)="isPopUpOpen = !isPopUpOpen"></i>
        </div>
    </div>
    <div class="pop-up" *ngIf="isPopUpOpen">
        <div class="pop-up-exit-container">
            <i class="fas fa-times pop-up-title exit"
            (click)="isPopUpOpen=false"></i>
        </div>
        <div class="pop-up-settings-container">
            <div class="pop-up-title-container">
                <p class="pop-up-title">
                    LUCKY WHEEL
                </p>
            </div>
            <div class="pop-up-settings-info">
                <p>
                <strong>Game Introduction</strong>
                    <br>
                    Welcome to the thrilling world of 'Lucky Wheel'!
                    Get ready to test your luck and win some fantastic prizes. Spin the wheel, and who knows, 
                    you might just hit the jackpot! You have a chance to win 5 points, 10 points, or even a whopping 100 points.
                    But watch out for 'Banknot' – it does not give you nothing!
                    Each spin costs you 10 points, so make sure you're feeling lucky before you take a chance. 
                    You can click on the 'Spin' button or give the wheel itself a wheel – the choice is yours. 
                    Will you be the ultimate spinner and win big? There's only one way to find out – start spinning and let the good times roll!
                    <br>
                </p>
            </div>
        </div>
    </div>

    <div class="game">
        <div class="arrow">
            <i class="fas fa-arrow-down wheel-arrow"></i>
        </div>
        <div 
        class="circle"
        (click)="onSpinWheel()">
        </div> 
    </div>
    <div class="game-control">
        <p class="point-text">Point: 
            <span class="point">{{ balance }}</span>
            <span class="point" *ngIf="hasWinned"> + {{ prize }}</span>
        </p>
        <button 
        class="spine" 
        (click)="onSpinWheel()" 
        [disabled]="isSpinning">SPIN</button>
    </div>
</div>

<div class="win" *ngIf="hasWinned">
    {{ prizeToDisplay }}
</div>

<audio id="spin-audio" src="../../../assets/sounds/spin-sound.mp3" muted="true" [loop]="false"  type="audio/mp3" [volume]="0.4"></audio>

