$degToRotate: 360 * 4 + random(360);

.game-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/images/lucky-wheel/wheel-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.game{ 
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: relative;
    background-color: white;
    text-align: center;
    background-image: url("../../../assets/images/lucky-wheel/wheel.png");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.arrow {
    position: relative;
    z-index: 1000;
    display: flex;
    padding-top: 20px;
}

.arrow i {
    font-size: 30px;
    color: white;
    margin-top: 20px;
}

.spining {
    animation: spin;
    animation-duration: 3s;
}

.win {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-size: 30px;
    font-weight: 900;
    color: #fbff27;
    animation: fadeInAnimation;
    animation-duration: 0.5s;
}

.spine {
    background-color: rgb(46, 46, 46);
    box-shadow: 0px 5px 5px rgba(43, 43, 43, 0.623);
    color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
}

.spine:active {
    transform: translateY(10px);
}

.spine:hover {
    color: black;
    background-color: #e84c3d;
    box-shadow: 0px 5px 5px #e84c3d;
}

.game-control {
    position: absolute;
    display: flex;
    text-align: center;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    left: 20%;
    bottom: 4%;

    p {
      background-color: #090909a6;
      border-radius: 15px;
      padding: 4px;
    }  
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        // transform: rotate($degToRotate + 'deg');
        transform: rotate(360 * 4 + random(360) + 0deg);
    } 
}


@media only screen and (max-width: 650px) {
    .game {
        scale: 0.9;
    }

    .game-control {
        width: 100%;
        left: 0;
        scale: 1;
    }

    .point-text {
        scale: 0.7;
    }

    .spine {
        scale: 0.9;
    }

}

@media only screen and (max-width: 550px) {
    .game {
        scale: 0.8;
    }
}

@media only screen and (max-width: 500px) {
    .game {
        scale: 0.7;
    }
}

@media only screen and (max-width: 450px) {
    .game {
        scale: 0.6;
    }

}

@media only screen and (max-width: 370px) {
    .game {
        scale: 0.5
    }
    .game-control {
        flex-direction: column;
    }
    .spine {
        margin-top: 2px;
    }
}

@media only screen and (max-width: 300px) {
    .game {
        scale: 0.4;
    }
}



