.main-content {
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    z-index: 0;
    overflow-X: hidden;
    margin-top: -70px;
    background-image: url("../assets/images/cocoa-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

@media only screen and (max-width: 875px) {
    .main-content {
        background-size: unset;
        background-repeat: repeat-y;
        background-position: unset;
    }
}

