<div class="first about-container scroll-animation">
    <div class="title">
        BE WITH US
    </div>
    <div class="info-container">
        <div class="info-text">
            <div class="info-text-title">
                Our Story
            </div>
            <div class="info-text-paragraph">
                Welcome to our online casino! In this first piece, 
                we'll take you on a trip down memory lane. 
                It all started with a bunch of us who loved 
                a good gamble and dreamt of creating a super cool gaming spot. 
                Right from the get-go, we wanted a place that's safe, 
                thrilling, and fair. Find out how we went from a small gang 
                of gamers to the awesome casino you see today, 
                where we're all about making every bet an unforgettable ride.
            </div>
        </div>
        <div class="info-image casino">
        </div>
    </div>  
</div>

<div class="about-container second scroll-animation">
        <div class="info-image pinball">
        </div>
        <div class="info-text">
            <div class="info-text-title">
                Our Pledge to You
            </div>
            <div class="info-text-paragraph right">
                In the second part,
                we're getting real about our mission and values. 
                At our casino, it's all about having a blast while 
                playing responsibly. We're all about fairness, security, 
                and making sure you're as happy as can be. Dive 
                into how we're 
                committed to responsible gaming and why we're 
                constantly working to be the best casino out there.
            </div>
        </div>
</div>

<div class=" about-container third scroll-animation">
    <div class="info-text">
        <div class="info-text-title">
            The Heroes Behind the Fun
        </div>
        <div class="info-text-paragraph">
            In the final piece, we're shining 
            the spotlight on the amazing folks who make 
            this casino tick. Say hi to our dedicated crew – 
            the tech wizards, the customer support superheroes, 
            and everyone in between. These are the people who 
            make sure your time here is nothing short of awesome. 
            Get to know the faces behind the scenes, making every 
            visit to our casino a memorable one.
        </div>
    </div>
    <div class="info-image room">

    </div>
</div>

<div class="numbers-container">
    <div class="numbers-container-part active-users">
        <p class="number-container-title">Active Users</p>
        <div id="value-1" class="value">1500</div>
    </div>
    <div class="numbers-container-part last-jackpot">
        <p class="number-container-title">Last Jackpot</p>
        <div id="value-2" class="value">2500</div>
    </div>
    <div class="numbers-container-part games">
        <p class="number-container-title">Total Games</p>
        <div id="value-3" class="value">20</div>
    </div>
</div>