$coinNum: 12;
$dollarNum: 12;

[class|="coin"],
[class|="dollar"] {
    position: absolute;
}

.dollarDollarBillYall,
.moreMoneyMoreProblems {
    position: absolute;
    height: fit-content;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

@for $i from 1 through $coinNum {
    .coin-#{$i} {
        $coinColors: #ffd700 #daa520 #c0c0c0 #dcdcdc;
        $fallSpeed: 1.25;
        $coinSize: random(8);
        $left: random(100);

        width: #{$coinSize + 20}px;
        height: #{$coinSize + 20}px;
        border-radius: 50%;
        background-color: nth($coinColors, random(4));
        top: -10%;
        left: unquote($left + "%");
        opacity: random() + 0.4;
        transform: rotate(#{random(360)}deg);
        animation: coins-keep-falling-on-my-head-#{$i} unquote($fallSpeed + "s") unquote(random() * 5 + "s") infinite ease-in;
        z-index: random(5) + 2;
        font-size: $coinSize + 16px;
        line-height: 1;
        font-weight: 900;

        &::before {
            content: "$";
            position: relative;
            top: 0.1em;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333;
        }
    }

    @keyframes coins-keep-falling-on-my-head-#{$i} {
        100% {
            top: 110%;
        }
    }
}

@for $i from 1 through $dollarNum {
    .dollar-#{$i} {
        $fallType: ease-in ease-out linear;
        $paperSize: random(5) * 10 + 30;
        $left: random(100);

        width: #{$paperSize}px;
        height: #{$paperSize}px;
        top: -200px;
        left: unquote($left + "%");
        opacity: calc(random(7) / 10) + 0.2;
        display: inline-block;
        z-index: random(5) + 3;
        animation: make-it-rain-#{$i} unquote(3 + random(8) + "s") unquote(random(8) - 1 + "s") infinite nth($fallType, random(3));
        animation-iteration-count: random(31) + 29;
        transform-origin: right unquote(random(3) * -15 + "px");
        background-image: url('data:image/svg+xml,...(your SVG data)...');
    }

    @keyframes make-it-rain-#{$i} {
        0% {
            transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);
        }
        100% {
            transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
            top: 110%;
        }
    }
}
