<div class="dollarDollarBillYall moreMoneyMoreProblems">
    <div class="dollar-50"></div>
    <div class="dollar-49"></div> 
    <div class="dollar-14"></div>
    <div class="dollar-13"></div>
    <div class="dollar-12"></div>
    <div class="dollar-11"></div>
    <div class="dollar-10"></div>  
    <div class="dollar-9"></div>  
    <div class="dollar-8"></div>  
    <div class="dollar-7"></div>  
    <div class="dollar-6"></div>  
    <div class="dollar-5"></div>  
    <div class="coin-11"></div>
    <div class="coin-10"></div>
    <div class="coin-9"></div>
    <div class="coin-8"></div>
    <div class="coin-7"></div>
    <div class="coin-6"></div>
    <div class="coin-5"></div>
    <div class="coin-4"></div>
    <div class="coin-3"></div>
    <div class="coin-2"></div>
    <div class="coin-1"></div>
    <div class="coin-0"></div>
  </div>