<div class="dollarDollarBillYall moreMoneyMoreProblems">
    <div class="dollar-11"></div>  
    <div class="dollar-10"></div>  
    <div class="dollar-9"></div>  
    <div class="dollar-8"></div>  
    <div class="dollar-7"></div>  
    <div class="dollar-6"></div>  
    <div class="dollar-5"></div>  
    <div class="dollar-4"></div>  
    <div class="dollar-3"></div>  
    <div class="dollar-2"></div>  
    <div class="dollar-1"></div>  
    <div class="dollar-0"></div>  
    <div class="coin-11"></div>
    <div class="coin-10"></div>
    <div class="coin-9"></div>
    <div class="coin-8"></div>
    <div class="coin-7"></div>
    <div class="coin-6"></div>
    <div class="coin-5"></div>
    <div class="coin-4"></div>
    <div class="coin-3"></div>
    <div class="coin-2"></div>
    <div class="coin-1"></div>
    <div class="coin-0"></div>
  </div>