@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.neon-button  {
  margin-top: 20px;
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
  background-color: transparent;
}

.neon-button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

/* -------------------------- pop up -------------------------- */


.exit {
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

.exit:hover {
  color: rgb(255, 0, 0);
}

.pop-up-exit-container {
  text-align: end;
  padding: 1%;
}

.pop-up-exit-container {
  text-align: end;
  padding: 1%;
}

.pop-up-title-container {
  text-align: center;
}

.pop-up-title {
  font-weight: 800;
  font-size: 20px;
}

.pop-up-settings-container {
  display: block;
}

.pop-up-settings-info {
    width: 100%;
    height: fit-content;
    padding: 2%;
    font-size: 20px;
}

.pop-up-settings-card {
  width: 100%;
  height: 300px;
  background-color: #080808;
  border-radius: 15px;
  display: flex;
  padding: 2%;
  margin-top: 3%;
  justify-content: space-around;
}

.pop-up-settings-card  img {
  width: 25%;
  height: 100%;
  border-radius: 1;
}

.pop-up-settings-card p {
  width: 100%;
}

.pop-up-settings-card-info {
  width: 58%;
  text-align: center;
}

.pop-up{
  width: 80%;
  height: 80%;
  background-color: #101010;
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 2000000;
  overflow-y: scroll;
  border-radius: 15px;
  display: block;
  padding: 10px;
  color: white;        
}

@media only screen and (max-width: 1000px){
  .pop-up-settings-card {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;

  }

  .pop-up-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .pop-up-settings-card  img {
    width: 70%;
    height: 100%;
    border-radius: 1;
  }

  .pop-up-settings-info {
    text-align: center;
  }
}

/* ----------------------- games go back ---------------------------- */

.go-back {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4%;
  margin-left: 4%;
  width: 90%;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  justify-content: space-between;

  

  
}

.setting {
  font-size: 24px;
  font-weight: 800;   
}

.go-back i:hover {
  color: #a54e07;
}




/* --------------------- Points -------------------- */

.point-display {
  position: absolute;
  bottom: 10%;
  text-align: start;
  left: 2%;
  background-color: #090909a6;
  border-radius: 15px;
  padding: 4px;
 
}

.point {
  color: #ff4747;
  animation: fadeInAnimation;
  animation-duration: 0.5s;
}

.point-text {
  font-size: 30px;
  color: white;
}



/* ----------------------- scroll animate ---------------- */




/* ------------------ Animations --------------------------- */

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(220px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}