$icon_width: 200px;
$icon_height: 200px;
$num_icons: 9;


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100%;
    flex-direction: column;
}


.slots {
    width: 3.1 * $icon_width;
    height: 3 * $icon_height;
    // border: 1px solid white;
    // padding:  $icon_height;
    display: flex;
    justify-content: space-between;
    scale: 1;
    box-shadow: 0 0 16px 5px #ffd900;



    .reel {
        border: 5px solid rgb(0, 0, 0);
        width: 3 * $icon_width;
        height: 3 * $icon_height;
        background-image: url("../../../assets/images/slots.png");
        background-repeat: repeat-y;
        background-position: 0 0;
        background-size: fill;
        // box-shadow: 0 8px 16px 5px #ffd900;

    }
}

.button {
    width: 100px;
    height: 80px;
}


