<div class="games-container">

    <div class="game-card" [routerLink]="['/cocoa-rush']">
        <div class="game-card-image">
            <img src="https://img.freepik.com/premium-vector/slots-banner-golden-coins-jackpot-casino-d-cover-slot-machines-vector_3482-5271.jpg" alt="slots">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">COCOA RUSH</p>
            <p class="game-card-info-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae ullam amet,
                id repudiandae quisquam fugiat illum dolorum,
                quos repellat optio sapiente impedit expedita libero,
                nobis nam quis magnam iste voluptas.
            </p>
        </div>
    </div>
    <div class="game-card" [routerLink]="['/dice-game']">
        <div class="game-card-image">
            <img src="https://img.freepik.com/premium-vector/slots-banner-golden-coins-jackpot-casino-d-cover-slot-machines-vector_3482-5271.jpg" alt="slots">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">COCOA RUSH</p>
            <p class="game-card-info-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae ullam amet,
                id repudiandae quisquam fugiat illum dolorum,
                quos repellat optio sapiente impedit expedita libero,
                nobis nam quis magnam iste voluptas.
            </p>
        </div>
    </div>
    <div class="game-card" [routerLink]="['/lucky-wheel']">
        <div class="game-card-image">
            <img src="https://img.freepik.com/premium-vector/slots-banner-golden-coins-jackpot-casino-d-cover-slot-machines-vector_3482-5271.jpg" alt="slots">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">COCOA RUSH</p>
            <p class="game-card-info-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae ullam amet,
                id repudiandae quisquam fugiat illum dolorum,
                quos repellat optio sapiente impedit expedita libero,
                nobis nam quis magnam iste voluptas.
            </p>
        </div>
    </div>
    <router-outlet></router-outlet>
    
</div>
