<div class="games-container">

    <div class="game-card" [routerLink]="['/cocoa-rush']">
        <div class="game-card-image">
            <img src="../../../assets/images/games/cocoa-rush.png" alt="slots">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">COCOA RUSH</p>
            <p class="game-card-info-text">
                elcome to our exhilarating slot game with three rows of colorful symbols! 
                Get ready for a heart-pounding adventure where you can test your luck and aim for exciting combinations 
                that lead to fantastic rewards. With captivating graphics and an element of chance, our slot game offers 
                endless entertainment. Spin the reels, take a chance, and enjoy the timeless thrill of a classic casino experience!
            </p>
        </div>
    </div>
    <div class="game-card" [routerLink]="['/dice-game']">
        <div class="game-card-image">
            <img src="../../../assets/images/games/dice game.png" alt="dice-game">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">DICE GAME</p>
            <p class="game-card-info-text">
                Introducing our exciting Dice game, where the goal is to roll two 
                dice and aim for a sum of 11 or 12 to win big! Each roll costs just 10 units,
                making it accessible and thrilling for all players. Get ready for a dice-rolling adventure 
                that combines luck and strategy. Can you beat the odds and hit that magical total? Roll the dice, 
                take your chances, and enjoy the excitement of winning in this captivating game!
            </p>
        </div>
    </div>
    <div class="game-card" [routerLink]="['/lucky-wheel']">
        <div class="game-card-image">
            <img src="../../../assets/images/games/lucky wheel.png" alt="lucky lucky-wheel wheel">
        </div>
        <div class="game-card-info">
            <p class="game-card-info-title">LUCKY WHEEL</p>
            <p class="game-card-info-text">
                Get ready for a whirlwind of luck with our thrilling Lucky Wheel game! 
                Spin the wheel of fortune and test your fate as you aim for incredible prizes. 
                Win 5, 10, or a whopping 100 points with each spin, but watch out for the banknote that 
                brings no points. Each spin costs just 10 points, making it an affordable and exhilarating experience. 
                Can you hit the jackpot? Take a spin, take a chance, and see if luck is on your side in this exciting game of chance!
            </p>
        </div>
    </div>
    <router-outlet></router-outlet>
    
</div>
