.container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    
}

nav {
  z-index: 1000;
  position: relative;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar {
    width: 100%;
    background-color: #00000069;
    box-shadow: 0 6px 6px -6px rgb(15, 3, 3);
    display: flex;
    height: 70px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #cac8c8;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    justify-content: space-between;
    cursor: pointer;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
    color: #fff;
}

.nav-container {
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.logo img {
    width: 100px;
    height: 50px;
    margin: -18px 0;
}

.logo {
    padding: 0.7rem;
    margin: auto;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {


    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }

    .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }

    .navbar .menu-items {
      display: flex;
    }

    .navbar .nav-container li {
      list-style: none;
    }

    .navbar .nav-container a {
      text-decoration: none;
      color: #cac8c8;
      font-weight: 500;
      font-size: 1.4rem;
      padding: 0.7rem;
    }

    .navbar .nav-container a:hover{
        font-weight: bolder;
    }

    .nav-container {
      display: block;
      position: relative;
      height: 60px;
      width: 100%;
    }

    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }

    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
      padding-top: 120px;
      box-shadow: inset 0 0 2000px rgb(0 0 0 / 87%);
      height: 100vh;
      width: 100%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
      text-align: center;
    }

    .navbar .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.7rem;
      font-weight: 500;
    }

    .logo {
      position: absolute;
      right: 15px;
      font-size: 1.2rem;
      color: #0e2431;
      padding: 0.5rem;
      margin: auto;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo{
      display: none;
    }


}